<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="css/carr.css">
</head>
<body>
    <header>
        <h1>Tu Carrito</h1> <img src="imagenes/rendix logo.png" alt="rendix" class="imgr">
    </header>
    <main>
        <div id="productos-carrito">
            <!--Aquí se mostrarán los productos-->
            <p>No hay productos en tu carrito aún.</p>
        </div>
    </main>
<footer id="contacto"><!--pie de página con información de contacto-->
        <p>Contacto:rendix@hotmail.com</p><!--informacio de contacto "correo electrónico"-->
        <p>Redes sociales: 
            <a href="#" class="social-link">
                <img src="imagenes/linkedin.png" alt="LinkedIn" class="social-icon"> 
            </a>  
            <a href="#" class="social-link">
                <img src="imagenes/github.png" alt="GitHub" class="social-icon">
            </a>  
            </p>
    
    </footer>
</head>
<body>
</html>

