<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayuda</title>
    <link rel="stylesheet" href="CSS/StyleAyuda.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="IMAGENES/RendiX.jpg" alt="Logo de Rendix">
            </div>
            <nav>
                <!-- Botón de búsqueda -->
                <div class="input__container">
                    <div class="shadow__input"></div>
                    <button class="input__button__shadow">
                        <svg fill="none" viewBox="0 0 20 20" height="20px" width="20px">
                            <path d="M4 9a5 5 0 1110 0A5 5 0 014 9zm5-7a7 7 0 104.2 12.6.999.999 0 00.093.107l3 3a1 1 0 001.414-1.414l-3-3a.999.999 0 00-.107-.093A7 7 0 009 2z" fill-rule="evenodd" fill="#17202A"></path>
                        </svg>
                    </button>
                    <input type="text" name="text" class="input__search" placeholder="Buscar Productos, Marcas o Servicios">
                </div>
                <ul id="menu">
                    <li><a href="iniciyoregis.html">Regístrate / Inicia Sesión</a></li>
                    <li><a href="index.html">Productos destacados</a></li>
                    <li><a href="contactenos.html">Contáctenos</a></li>
                    <li class="dropdown">
                      <a href="#">Más opciones</a>
                      <ul class="dropdown-content">
                        <li><a href="Calificanos.html">Califícanos</a></li>
                        <li><a href="Pagina de ayuda.html">Ayuda</a></li>
                        <li><a href="PQRS.html">PQRS</a></li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
              <button onclick="carro2()" class="button">
                    ALQUILA YA
                    <svg class="cartIcon" viewBox="10 0 1210 577">
                      <path d="M0 23C0 0.75 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z">
                      </path>
                    </svg>
                  </button>
                  
               
          </header>
          <body>
             <center><img src="https://images.cooltext.com/5715177.png" alt="Logo de Rendix"></center>
              <hr>
          <P>Encuentra respuestas a tus preguntas o ponte en contacto con nuestro equipo de soporte.</P>
          <center><div class="form-container">
            <form class="form">
              <div class="form-group">
                <label for="email">Correo de la compañia</label>
                <input type="text" id="email" name="email" required="">
              </div>
              <div class="form-group">
                <label for="textarea">¿Como podemos ayudarte?</label>
                <textarea name="textarea" id="textarea" rows="10" cols="50" required=""></textarea>
              </div>
              <button class="form-submit-btn" type="submit">Enviar</button>
            </form>
          </div></center>
            <main>
                <section id="seccion1">
                    <!-- Botón del menú desplegable -->
                    <p class="dropdown-menu-btn"><b>Categorías o temas principales</b></p>
            
                    <!-- Contenido desplegable -->
                    <div class="dropdown-menu-content">
                        <div class="container">
                            <div class="column left">
                                <h2>Cuenta y configuración</h2>
                                <p>
                                    Si tienes problemas con tu cuenta o configuración de esta misma, 
                                    contáctanos para enviar un correo solicitando solucionar un problema.
                                </p>
                            </div>
                            <div class="column right">
                                <h2><b>Pagos y facturación</b></h2>
                                <p>
                                    En el caso de presentar problemas con el pago, debera contactarse con su repsectivo banco o entidad encargada.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="seccion2">
                    <!-- Botón del menú desplegable -->
                    <p class="dropdown-menu2"><b>Problemas tecnicos</b></p>
            
                    <!-- Contenido desplegable -->
                    <div class="dropdown-menu2-content">
                        <div class="container2">
                            <div class="column izquierda">
                                <h2>Envíos y devoluciones.</h2>
                                <p>
                                   En el caso de tener problemas con los envios, nos contactaremos con el arrendador, y en el caso de solicitar una devolucion por cualquiera de las dos partes
                                   se gara el debido proceso del producto y del dinero.
                                </p>
                            </div>
                            <div class="column derecha">
                                <h2><b>Políticas y términos.</b></h2>
                                <p>
                                    En 2003 el Congreso de la República de Colombia fue el encargado de dictar un nuevo marco legal para vigilar el arrendamiento. Se trata de la Ley 820, mejor conocida como ley arrendamiento Colombia. 

                                    El objetivo de emitir este documento era garantizar los derechos y deberes tanto del arrendatario como del arrendador para evitar mayores conflictos entre las dos partes.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            
          
          <pre id="result"></pre>
          <script src="Redirecion.js"></script>
              
          </body>
          </html>
