body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    color: #eaf4ff;
    /* Aquí modificamos el color de fondo para que coincida con el del encabezado */
    background: linear-gradient(310deg, #000000, #434443);
  }
  
  header {
    background: linear-gradient(310deg, #ff8000, #0c8301);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    width: 150px; /* Ajusta el tamaño del logo */
  }
  
  /* Estilos del contenedor de bloques */
  
  
  /* Estilos del menú */
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Permite que el menú sea responsivo */
  }
  
  nav li {
    margin: 0 15px; /* Espaciado entre los elementos del menú */
    position: relative; /* Necesario para el menú desplegable */
  }
  
  nav a {
    text-decoration: none;
    color: #333; /* Color del texto */
    padding: 10px 15px;
    font-weight: bold;
    transition: all 0.3s ease; /* Transición suave */
  }
  
  /* Efecto hover en los enlaces */
  nav a:hover {
    background-color: #ff5733;
    color: white;
    border-radius: 5px; /* Añade bordes redondeados en hover */
    transform: scale(1.05); /* Animación de crecimiento */
  }
  
  /* Menú desplegable */
  .dropdown-content {
    display: none; /* Oculta el contenido del menú por defecto */
    position: absolute; /* Posiciona el menú desplegable */
    background-color: #000000;
    box-shadow: 0px 8px 16px rgba(167, 162, 162, 0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 10px;
    top: 100%; /* Posiciona el menú desplegable debajo del elemento padre */
    left: 0; /* Alinea el menú a la izquierda */
  }
  
  .dropdown:hover .dropdown-content {
    display: block; /* Muestra el contenido del menú al hacer hover */
  }
  
  .dropdown-content a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #555; /* Cambia el color de fondo cuando se selecciona */
  }
  
  /* Estilos del botón "ALQUILA YA" */
  .button {
    width: 180px; /* Ancho del botón */
    height: 40px; /* Altura del botón */
    background-image: linear-gradient(rgba(8, 252, 0, 0.763), rgb(4, 115, 8)); /* Fondo con un degradado lineal */
    border: none; /* Sin borde */
    border-radius: 50px; /* Bordes redondeados, haciendo que el botón sea ovalado */
    color: rgb(255, 255, 255); /* Color del texto */
    font-weight: 600; /* Grosor de la fuente */
    display: flex; /* Uso de Flexbox para alinear el contenido */
    align-items: center; /* Alinea verticalmente el contenido al centro */
    justify-content: center; /* Alinea horizontalmente el contenido al centro */
    gap: 5px; /* Espacio entre los elementos hijos del botón */
    cursor: pointer; /* Cambia el cursor a una mano cuando se pasa sobre el botón */
    box-shadow: 1px 3px 0px rgb(0, 213, 46); /* Sombra del botón */
    transition-duration: 0.3s; /* Duración de la transición de las propiedades que cambian */
  }
  
  .button:hover {
    background-image: linear-gradient(rgba(4, 115, 8, 0.763), rgb(8, 252, 0)); /* Fondo invertido en hover */
    color: rgb(255, 255, 255); /* Color del texto en hover */
  }
  /*Adiccionarcolor al CARRITO DE COMPRAS*/
  .cartIcon path {
    fill: rgb(255, 255, 255); /* Asegura que el color de relleno sea blanco */
  }
  
  .button:active {
    transform: scale(0.95); /* Efecto de presión */
    box-shadow: 1px 3px 0px rgb(0, 213, 46); /* Sombra del botón */
  }
  /* Estilos de la tarjeta */
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 260px;
    padding: 20px 1px;
    margin: 10px 0;
    text-align: center;
    position: relative;
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgba(0, 140, 255, 0.4), 0 4px 6px -4px rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    background-color: #00ff37;
    background: linear-gradient(45deg, #ff6200ea 0%, #43aa07 100%);
    font-family: 'Poppins', sans-serif;
  }
  .input__container {
      
    position: relative;
    background: rgba(255, 255, 255, 0.664);
    padding: 9px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 25px;
    max-width: 500px;
    transform-style: preserve-3d;
    transform: rotateX(1deg) rotateY(-10deg);
  }
  
  .shadow__input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(30px);
  border-radius: 20px;
  background-color: #ffdb99;
  background-image: radial-gradient(at 85% 51%, hsla(60,60%,61%,1) 0px, transparent 50%),
    radial-gradient(at 74% 68%, rgb(255, 255, 255) 0px, transparent 50%),
    radial-gradient(at 64% 79%, rgb(0, 11, 25) 0px, transparent 50%),
    radial-gradient(at 75% 16%, rgb(0, 0, 0) 0px, transparent 50%),
    radial-gradient(at 90% 65%, rgb(0, 209, 115) 0px, transparent 50%),
    radial-gradient(at 91% 83%, rgb(255, 89, 0) 0px, transparent 50%),
    radial-gradient(at 72% 91%, rgb(114, 228, 110) 0px, transparent 50%);
  }
  
  .input__button__shadow {
  cursor: pointer;
  border: none;
  background: none;
  transition: transform 0ms, background 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 5px;
  }
  
  .input__button__shadow:hover {
  background: rgba(105, 70, 70, 0.411);
  }
  
  .input__search {
  width: 900%;
  border-radius: 40px;
  outline: none;
  border: none;
  padding: 7px;
  position: relative;
  }

  /* Final del header */

  .card {
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  
  .form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .group {
    position: relative;
  }
  
  .form .group label {
    font-size: 14px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    transition: all .3s ease;
  }
  
  .form .group input,
  .form .group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
  }
  
  .form .group input:placeholder-shown+ label, .form .group textarea:placeholder-shown +label {
    top: 10px;
    background-color: transparent;
  }
  
  .form .group input:focus,
  .form .group textarea:focus {
    border-color: #09ff00;
  }
  
  .form .group input:focus+ label, .form .group textarea:focus +label {
    top: -10px;
    left: 10px;
    background-color: #fff;
    color: #39ff08;
    font-weight: 600;
    font-size: 14px;
  }
  
  .form .group textarea {
    resize: none;
    height: 100px;
  }
  
  .form button {
    background-color: #ff9100;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .form button:hover {
    background-color: #33ff00;
  }
  
  